<h1>This is a PDF</h1>

<%= wicked_pdf_image_tag 'samson_small.jpg' %>

<div>
  <h2><%= @horse.name %></h2>
  <ul>
    <li><b>Age:</b> <%= @horse.age %></li>
    <li><b>Breed:</b> <%= @horse.breed %></li>
    <li><b>Gender:</b> <%= @horse.gender %></li>
  </ul>
</div>

<%= wicked_pdf_image_tag 'samson.jpg' %>